*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
  line-height: 1.4;
  color: #414141;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.additionForm {
  outline: 1px solid lightcoral;
  max-width: 400px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 241, 241);
}
label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
label:hover {
  font-weight: 600;
}
label:hover .inputField {
  outline: 2px solid lightcoral;
}
.inputField {
  width: 200px;
  padding: 0;
  margin: 0;
  outline: 1px solid lightcoral;
  border: none;
}

.button {
  width: 100px;
  margin: auto;
  background-color: #fff;
  outline: 1px solid lightcoral;
  border: none;
  font-weight: 400;
}
.button:hover {
  outline: 2px solid lightcoral;
  font-weight: 700;
  cursor: pointer;
}

.booksList {
  padding: 10px;
}
.bookItem {
  max-width: 1000px;
  outline: 1px solid lightblue;
  list-style: none;
  line-height: 1.4;
  background-color: rgb(247, 247, 247);
}
.bookItem:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  outline: 1px solid rgb(58, 142, 170);
}
.book-content-wrap {
  display: flex;
  justify-content: space-between;
}
.bookItem-elements {
  margin: 0;
  width: 50%;
  padding: 0 10px;
}

.hidden {
  display: none;
}
.expand-item {
  height: 240px;
  display: flex;
  justify-content: space-between;
}
.bookPhoto_bookItem {
  width: 180px;
  height: 220px;
  outline: 1px solid rgb(77, 148, 77);
}
.removeBook,
.changeDataBook {
  width: 160px;
  outline: 1px solid red;
}
