<form class="additionForm">
    <label>Book name
        <input type="text" class="inputField bookName" name="bookName">
    </label>

    <label>Author name
        <input type="text" class="inputField authorName" name="authorName">
    </label>

    <label>Literary Work
        <input type="text" class="inputField litWork" name="litWork">
    </label>

    <label>Publication Year
        <input type="text" class="inputField publicYear" name="publicYear">
    </label>

    <button type="submit" class=" button addBook" name="addBook">Add a book</button>
</form>
